<p>bill-gates-speaks works!</p>
<h1>{{billGatesQuotation.name}} speaks to us all:</h1>

<ul>
    <li *ngFor="let quote of billGatesQuotation.quotation">
        <blockquote> {{ quote }} </blockquote>
    </li>
  </ul>

  <p><a href="https://en.wikipedia.org/wiki/Bill_Gates">Статья на википедии</a></p>
  <p><a href="https://www.gatesfoundation.org/">gatesfoundation.org</a></p>
  <p><a href="https://www.gatesnotes.com/">gatesnotes.com</a></p>
  <p><a href="https://twitter.com/billgates">Свитер</a></p>

  <img src="../../assets/images/Bill Gates.jpg">